
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/form.o
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_form.o
*.exe
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_form.h
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_form.cpp
