
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/form.o
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_form.o
*.exe
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_form.h
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
build-20_Tabs-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_form.cpp
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
build-22_Directories-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-24_Files-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/qrc_ResourceFile.cpp
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/qrc_ResourceFile.o
build-Notepad-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/fm_principal.o
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/log.o
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/.qmake.stash
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/main.o
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/mainwindow.o
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_mainwindow.o
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_fm_principal.cpp
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_fm_principal.o
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_log.o
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Debug
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/Makefile.Release
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_fm_principal.h
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_log.h
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/ui_mainwindow.h
build-32_SQLite-Desktop_Qt_6_2_0_MinGW_64_bit-Debug/debug/moc_log.cpp
